<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="Sale" packages="">
	<Appenders>
		<Console name="ConsoleAppender" target="SYSTEM_OUT">
    		<PatternLayout pattern="%message %X"/>
		</Console>
    	<File name="JSONLogfileAppender" fileName="target/logfile.json">
        	<JSONLayout compact="true" eventEol="true"/>
            <BurstFilter level="INFO" rate="2" maxBurst="10"/>
        </File>
        <Async name="AsyncAppender" bufferSize="80">
            <AppenderRef ref="JSONLogfileAppender"/>
        </Async>
	</Appenders>
	<Loggers>
	<Logger name="ASYNC_JSON_FILE_APPENDER" level="INFO" additivity="false">
		<AppenderRef ref="AsyncAppender" />
     </Logger>
	<Root level="all">
      <AppenderRef ref="ConsoleAppender"/>
    </Root>
	</Loggers>
</Configuration>